@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

/* .navbar{
  background-color: #fff;
} */

/* body{
  min-height: 100vh;
  position: relative;
} */

.nav_bg .navbar-brand{
  font-size: 1.6rem;
  color: #565387;
}

.navbar a{
  font-size: 1.15rem;
  text-transform: capitalize;
}

.navbar a:hover{
  color: #3498db!important;
}

/* .menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
} */

 /* Main Landing Section */

#header{
  width: 100%;
  height: 80vh;
  margin-top: 4.3rem;
}

#header h1{
  margin: 0 0 10px 0;
  font-size: 2.3rem;
  font-weight: 700;
  color: black;
}

#header .brand_name{
  color: #3498db;
}

#header h2{
  color: #484848;
  font-size: 1.8rem;
}

.btn_get_started{
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: .5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}

 .btn_get_started:hover{
  background: #3498db;
  color: #fff;
}

.header-img{
  text-align: center;
}



#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @-webkit-keyframes up-down {
   0%{transform: translateY(10px);
    }
   100% {
      transform: translateY(-10px);
    }
  
  }
  
  
  @keyframes up-down {
   0%{transform: translateY(10px);
    }
   100% {
      transform: translateY(-10px);
    }
  
  }




/* footer{
    position: absolute;
    bottom: 0;
    bottom: -30%;
    width: 100%;
  } */

  #footer{
    width: 100%;
    height: auto;
    position: relative;
  }